<p>
  <b>Game:</b>
  <%=h @version.game_id %>
</p>

<p>
  <b>Region:</b>
  <%=h @version.region %>
</p>

<p>
  <b>Console:</b>
  <%=h @version.console_id %>
</p>


<%= link_to 'Edit', edit_version_path(@version) %> |
<%= link_to 'Back', versions_path %>